In [45]:
from __future__ import print_function

import numpy as np
import tensorflow as tf
from tensorflow.contrib import rnn
import random
import collections
import time
import csv

In [46]:
start_time = time.time()
def elapsed(sec):
    if sec<60:
        return str(sec) + " sec"
    elif sec<(60*60):
        return str(sec/60) + " min"
    else:
        return str(sec/(60*60)) + " hr"


# Target log path
logs_path = '/data'
writer = tf.summary.FileWriter(logs_path)

# Text file containing words for training
training_file = './data/AAPL.csv'

In [79]:
import pandas as pd
df=pd.read_csv(training_file, sep=',',header=None)
df.shape
#convert pd to numpy array
df=df.values
numpy.delete(df, numpy.s_[1:3], axis=1)   
#p.delete(df, [2], axis=1)  # delete first column
df= numpy.delete(df, (0), axis=0 ) #delete first row
#y = df.astype(np.float32)
df

array([['16:00', '155.30', '17,407,558', '154.97', '155.49', '154.56'],
       ['2017/10/05', '155.3900', '21215870.0000', '154.1800', '155.4400',
        '154.0500'],
       ['2017/10/04', '153.4800', '20088940.0000', '153.6300', '153.8600',
        '152.4600'],
       ...,
       ['2015/10/07', '110.7800', '46717770.0000', '111.7400', '111.7700',
        '109.4100'],
       ['2015/10/06', '111.3100', '48702200.0000', '110.6300', '111.7400',
        '109.7650'],
       ['2015/10/05', '110.7800', '52033100.0000', '109.8800', '111.3698',
        '109.0700']], dtype=object)

In [83]:
import pandas_datareader as pdr
from datetime import datetime
aapl = pdr.DataReader('AAPL', 'google', '1980-01-01')
aapl

              Open    High     Low   Close    Volume
Date
2016-10-10  115.02  116.75  114.72  116.05  36235956
2016-10-11  117.70  118.69  116.20  116.30  64041043
2016-10-12  117.35  117.98  116.75  117.34  37586787
2016-10-13  116.79  117.44  115.72  116.98  35192406
2016-10-14  117.88  118.17  117.13  117.63  35652191
2016-10-17  117.33  117.84  116.78  117.55  23624896
2016-10-18  118.18  118.21  117.45  117.47  24553478
2016-10-19  117.25  117.76  113.80  117.12  20034594
2016-10-20  116.86  117.38  116.33  117.06  24125801
2016-10-21  116.81  116.91  116.28  116.60  23192665
2016-10-24  117.10  117.74  117.00  117.65  23538673
2016-10-25  117.95  118.36  117.31  118.25  48128970
2016-10-26  114.31  115.70  113.31  115.59  66134219
2016-10-27  115.39  115.86  114.10  114.48  34562045
2016-10-28  113.87  115.21  113.45  113.72  37861662
2016-10-31  113.65  114.23  113.20  113.54  26419398
2016-11-01  113.46  113.77  110.53  111.49  43825812
2016-11-02  111.40  112.35  111.23  111.59  28331709
2016-11-03  110.98  111.46  109.55  109.83  26932602
2016-11-04  108.53  110.25  108.11  108.84  30836997
2016-11-07  110.08  110.51  109.46  110.41  32560000
2016-11-08  110.31  111.72  109.70  111.06  24254179
2016-11-09  109.88  111.32  108.05  110.88  59176361
2016-11-10  111.09  111.09  105.83  107.79  57134541
2016-11-11  107.12  108.87  106.55  108.43  34143898
2016-11-14  107.71  107.81  104.08  105.71  51175504
2016-11-15  106.57  107.68  106.16  107.11  32264510
2016-11-16  106.70  110.23  106.60  109.99  58840522
2016-11-17  109.81  110.35  108.83  109.95  26964598
2016-11-18  109.72  110.54  109.66  110.06  28428917
...            ...     ...     ...     ...       ...
2017-08-25  159.65  160.56  159.27  159.86  25480063
2017-08-28  160.14  162.00  159.93  161.47  25965972
2017-08-29  160.10  163.12  160.00  162.91  29516910
2017-08-30  163.80  163.89  162.61  163.35  27269584
2017-08-31  163.64  164.52  163.48  164.00  26785096
2017-09-01  164.80  164.94  163.63  164.05  16591051
2017-09-05  163.75  164.25  160.56  162.08  29536314
2017-09-06  162.71  162.99  160.52  161.91  21651726
2017-09-07  162.09  162.24  160.36  161.26  21928502
2017-09-08  160.86  161.15  158.53  158.63  28611535
2017-09-11  160.50  162.05  159.89  161.50  31580798
2017-09-12  162.61  163.96  158.77  160.86  71714046
2017-09-13  159.87  159.96  157.91  159.65  44907361
2017-09-14  158.99  159.40  158.09  158.28  23760749
2017-09-15  158.47  160.97  158.00  159.88  49114602
2017-09-18  160.11  160.50  158.00  158.67  28269435
2017-09-19  159.51  159.77  158.44  158.73  20810632
2017-09-20  157.90  158.26  153.83  156.07  52951364
2017-09-21  155.80  155.80  152.75  153.39  37511661
2017-09-22  151.54  152.27  150.56  151.89  46645443
2017-09-25  149.99  151.83  149.16  150.55  44387336
2017-09-26  151.78  153.92  151.69  153.14  36660045
2017-09-27  153.80  154.72  153.54  154.23  25182779
2017-09-28  153.89  154.28  152.70  153.28  22005455
2017-09-29  153.21  154.13  152.00  154.12  26299810
2017-10-02  154.26  154.45  152.72  153.81  18698842
2017-10-03  154.01  155.09  153.91  154.48  16230293
2017-10-04  153.63  153.86  152.46  153.48  20163750
2017-10-05  154.18  155.44  154.05  155.39  21283769
2017-10-06  154.97  155.49  154.56  155.30  17407558

[251 rows x 5 columns]

In [87]:
from pylab import *
import pandas as pd
import numpy as np



def Datapull(Stock):
    try:
        df = (pd.io.data.DataReader(Stock,'yahoo',start='01/01/2016'))
        return df
        print ('Retrieved', Stock)
        time.sleep(5)
    except Exception:
        print ('Main Loop', str(e))


def RSIfun(price, n=14):
    delta = price['Close'].diff()
    #-----------
    dUp=
    dDown=

    RolUp=pd.rolling_mean(dUp, n)
    RolDown=pd.rolling_mean(dDown, n).abs()

    RS = RolUp / RolDown
    rsi= 100.0 - (100.0 / (1.0 + RS))
    return rsi

Stock='AAPL'
df=Datapull(Stock)
RSIfun(df)

SyntaxError: invalid syntax (<ipython-input-87-7095ccbc0277>, line 20)

In [ ]:
stock = StockDataFrame.retype(pd.read_csv('stock.csv'))