In [135]:
import pandas as pd
from pandas_datareader import data as web
from pandas import read_csv
from pandas import concat
import os.path
import datetime 
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from keras.utils.np_utils import to_categorical
import numpy


# Stochastic Oscilator %K
def STOK(close, low, high, n): 
 STOK = ((close - pd.Series.rolling(low, n).min()) / (pd.Series.rolling(high, n).max() - pd.Series.rolling(low, n).min())) * 100
 return STOK

# Stochastic Oscilator %D
def STOD(close, low, high, n):
    STOK = ((close - pd.Series.rolling(low, n).min()) / (pd.Series.rolling(high, n).max() - pd.Series.rolling(low, n).min())) * 100
    STOD = pd.Series.rolling(STOK, 3).mean()
    return STOD
    #STOD

    
def RSI(series, period):
    delta = series.diff().dropna()
    u = delta * 0
    d = u.copy()
    u[delta > 0] = delta[delta > 0]
    d[delta < 0] = -delta[delta < 0]
    u[u.index[period-1]] = np.mean( u[:period] ) #first value is sum of avg gains
    u = u.drop(u.index[:(period-1)])
    d[d.index[period-1]] = np.mean( d[:period] ) #first value is sum of avg losses
    d = d.drop(d.index[:(period-1)])
   # rs = pd.stats.moments.ewma(u, com=period-1, adjust=False) / \
   #      pd.stats.moments.ewma(d, com=period-1, adjust=False)
    rs= pd.Series.ewm(u,com=period-1, min_periods=0,adjust=False,ignore_na=False).mean() / \
        pd.Series.ewm(d,com=period-1,min_periods=0,adjust=False,ignore_na=False).mean()
    return 100 - 100 / (1 + rs)    


def getData(item):
    start = datetime.datetime(2016, 12, 21)
    end = datetime.datetime.now()
    #print( start,end) 
    file_path='./data/'+item +'.csv'
    if not os.path.exists(file_path):
        print("Empty set")
        df =web.DataReader(item,'yahoo',start,end)  
        df=df.round(2)
        
        df.to_csv('./data/' + item + '.csv')
        #df['Date']=pd.to_datetime(df['Date']) #important for sorting
        #df.set_index("Date",inplace=True)
        df.index.name = 'Date'
    else:
        print("Read from file")  
        df = read_csv(file_path)
        df['Date']=pd.to_datetime(df['Date']) #important for sorting
        df.set_index("Date",inplace=True)
        try:
            #end = datetime.datetime.now()
            lastDate=df.index[df.shape[0]-1] #last recorded day
            d1 = lastDate #datetime.datetime.strptime(lastDate, "%Y-%m-%d")  
            #d1 = datetime.datetime.strptime(lastDate)
            #print(d1,end )
            if( d1 < end - datetime.timedelta(days=3)): # dont update on Sat or Sun
                print("Updating")  
                d2 = lastDate + datetime.timedelta(days=1)
                #print(d2,end )
                df1 =web.DataReader(item,'yahoo',d2,end)  
                updateDate=df1.index[df1.shape[0]-1]
                print(updateDate , d1)
                if (updateDate !=  d1): #yahoo gives unwanted records
                    df1=df1.round(2)
                    df=pd.concat([df,df1])
                    df.index= pd.to_datetime(df.index, format="%Y-%m-%d") # drop time 
                    df.to_csv('./data/' + item + '.csv')
                else:
                    print("No need to update")
        except: print("Exception caught")
    return df


def cleanData( df):
    # drop Close and Volume, keep Adj Close
    df1 = df.drop('Close', 1)
    df1 = df1.drop('Volume', 1)
    df1.rename(columns={'Adj Close': 'Close', 'oldName2': 'newName2'}, inplace=True)
    return df1


def engFeatures(df):
    df['%K'] = STOK(df['Close'], df['Low'], df['High'], 14)
    df['%D'] = STOD(df['Close'], df['Low'], df['High'], 14)
    df['Avg5'] =pd.Series.rolling(df['Close'],5).mean()
    df['Avg10'] =pd.Series.rolling(df['Close'],10).mean()
    df['RSI14'] = RSI(df['Close'],14)
    df['RSI7'] = RSI(df['Close'],7)
    #df['Date']=pd.to_datetime(df['Date'])
    df.sort_index(ascending=False,inplace=True)
    df['Rise'] = (  pd.Series.rolling(df['Close'],5).max()-df['Close'] >df['Close']*0.04)*1
    df.sort_index(ascending=True,inplace=True)
    return df


# convert series to supervised learning
def series_to_supervised(data, n_in=1, n_out=1, dropnan=True):
    n_vars = 1 if type(data) is list else data.shape[1]
    df = pd.DataFrame(data)
    cols, names = list(), list()
    # input sequence (t-n, ... t-1)
    for i in range(n_in, 0, -1):
        cols.append(df.shift(i))
        names += [('var%d(t-%d)' % (j+1, i)) for j in range(n_vars)]
    # forecast sequence (t, t+1, ... t+n)
    for i in range(0, n_out):
        cols.append(df.shift(-i))
        if i == 0:
            names += [('var%d(t)' % (j+1)) for j in range(n_vars)]
        else:
            names += [('var%d(t+%d)' % (j+1, i)) for j in range(n_vars)]
    # put it all together
    agg = concat(cols, axis=1)
    agg.columns = names
    # drop rows with NaN values
    if dropnan:
        agg.dropna(inplace=True)
    return agg
#from sklearn.preprocessing import MinMaxScaler

def rescale( df):
    df.dropna(inplace=True)
    values = df.values
    # ensure all data is float
    values = values.astype('float')
    #drop columns to simplify test
    timesteps=3
    features = values.shape[1]-1
    # normalize features
    scaler = MinMaxScaler()
    #scaled = scaler.fit_transform(values)
    scaled = values #scaler.fit_transform(values)
    # frame as supervised learning
    reframed = series_to_supervised(scaled,timesteps, 1)
    # drop columns we don't want to predict
    #reframed.drop(reframed.columns[[10,11,12,13,14,15,16,17,18,19,20]], axis=1, inplace=True)
    reframed= pd.DataFrame(reframed)
    return reframed
#print(reframed.head())
#reframed.iloc[0]

def cleadData( df1,df2):
    
    return cleanSet
#####################################################################3
def loadModel( item ):
    # later...
    # load json and create model
    from keras.models import model_from_json

    json_file = open('./data/' + item+'_model.json', 'r')
    loaded_model_json = json_file.read()
    json_file.close()
    loaded_model = model_from_json(loaded_model_json)
    # load weights into new model
    loaded_model.load_weights('./data/' + item +'_model.h5')
    print("Loaded model from disk")
    # evaluate loaded model on test data
    #loaded_model.compile(loss='binary_crossentropy', optimizer='rmsprop', metrics=['accuracy']) #61.29
    loaded_model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
    score = loaded_model.evaluate( test_X, test_y, verbose=0)
    print("%s: %.2f%%" % (loaded_model.metrics_names[1], score[1]*100))
    return loaded_model

#######################################################################

itemname='GM'
dframe=getData(itemname)
dframeclean=cleanData(dframe)
djiframe=getData('DJI')
djiframe=cleanData(djiframe)
#dframe=dframe.join(djiframe, lsuffix='_left', rsuffix='_right')
dframeclean=dframeclean.join(djiframe , rsuffix='_right')
fullFrame=engFeatures(dframeclean)
reframed=rescale(fullFrame)


test = reframed.values
#n_test_size = 50
#test = values[values.shape[0]- n_test_size:, :]

test_X, test_y = test[:, :-1], to_categorical(test[:, -1])


test_X = numpy.reshape(test_X, (test_X.shape[0], test_X.shape[1],1))


jason_model=loadModel(itemname)

yhat = jason_model.predict(test_X)
from numpy import argmax
yhat=argmax(yhat,axis=1)
print(test_X.shape, test_y.shape,yhat.shape, dframe.shape)

Read from file
Read from file
Loaded model from disk
acc: 94.69%
(226, 59, 1) (226, 2) (226,) (244, 6)

In [147]:
# reframing makes original dframe shorter
# below code makes them all equal length by padding with zeros

yhat=yhat.reshape(yhat.shape[0],1)
print(dframe.shape,yhat.shape)
nz=pd.DataFrame(np.zeros(dframe.shape[0]-yhat.shape[0]))
yhat1=nz.append(pd.DataFrame(yhat) )
y=nz.append( pd.DataFrame(argmax(test_y,1) ))
print( yhat1.shape, y.shape )

dframe['yhat']=yhat1.values
dframe['y']=y.values
dframe.tail

(244, 7) (226, 1)
(244, 1) (244, 1)

<bound method NDFrame.tail of              Open   High    Low  Close  Adj Close    Volume    y  yhat
Date
2016-12-21  36.50  36.69  36.35  36.42      35.29   6669700  0.0   0.0
2016-12-22  36.29  36.40  35.63  35.69      34.59   9911700  0.0   0.0
2016-12-23  35.83  35.87  35.54  35.69      34.59   9044300  0.0   0.0
2016-12-27  35.80  35.93  35.50  35.54      34.44   6008700  0.0   0.0
2016-12-28  35.74  35.80  35.13  35.15      34.06   8451900  0.0   0.0
2016-12-29  35.25  35.48  35.12  35.14      34.05   4415300  0.0   0.0
2016-12-30  35.21  35.31  34.67  34.84      33.76   7646100  0.0   0.0
2017-01-03  34.98  35.57  34.84  35.15      34.06  10904900  0.0   0.0
2017-01-04  35.60  37.24  35.47  37.09      35.94  23388500  0.0   0.0
2017-01-05  37.01  37.05  36.07  36.39      35.26  15636700  0.0   0.0
2017-01-06  36.41  36.55  35.93  35.99      34.88  13240100  0.0   0.0
2017-01-09  36.12  36.53  35.86  36.01      34.90  15201300  0.0   0.0
2017-01-10  36.19  38.16  36.05  37.35      36.19  34804500  0.0   0.0
2017-01-11  37.54  38.11  37.22  37.95      36.78  19553900  0.0   0.0
2017-01-12  38.00  38.15  37.06  37.51      36.35  16830200  0.0   0.0
2017-01-13  37.55  37.77  37.15  37.34      36.19   8748800  0.0   0.0
2017-01-17  37.34  37.69  37.17  37.31      36.16   8219700  0.0   0.0
2017-01-18  37.45  37.58  37.12  37.47      36.31  11220100  0.0   0.0
2017-01-19  37.63  37.84  37.16  37.30      36.15   8262700  0.0   0.0
2017-01-20  37.42  37.42  36.76  37.01      35.87  14001500  0.0   0.0
2017-01-23  37.01  37.13  36.38  36.65      35.52  11624500  1.0   0.0
2017-01-24  36.70  37.24  36.68  37.00      35.86  11600300  0.0   1.0
2017-01-25  37.71  38.38  37.60  38.28      37.10  20745200  0.0   0.0
2017-01-26  38.10  38.25  37.37  37.52      36.36  10813400  0.0   0.0
2017-01-27  37.52  37.59  36.88  37.01      35.87  10228600  0.0   0.0
2017-01-30  36.84  36.90  36.13  36.33      35.21  11787700  0.0   0.0
2017-01-31  36.25  36.65  36.12  36.61      35.48  10679000  0.0   0.0
2017-02-01  36.68  37.11  35.86  36.14      35.02  13744100  0.0   0.0
2017-02-02  36.08  36.14  35.47  35.73      34.62  11893700  0.0   0.0
2017-02-03  35.92  36.33  35.68  36.33      35.21  13962200  0.0   0.0
...           ...    ...    ...    ...        ...       ...  ...   ...
2017-10-27  45.14  45.17  44.10  44.64      44.64  11875000  0.0   0.0
2017-10-30  43.04  43.81  42.26  43.37      43.37  23791100  0.0   0.0
2017-10-31  43.23  43.67  42.96  42.98      42.98  13239000  0.0   0.0
2017-11-01  42.72  43.37  41.90  43.13      43.13  14701300  0.0   0.0
2017-11-02  43.30  43.30  42.46  42.60      42.60  12006300  0.0   0.0
2017-11-03  42.60  42.73  42.19  42.34      42.34   9848700  0.0   0.0
2017-11-06  42.30  42.36  41.35  42.14      42.14  14173700  0.0   0.0
2017-11-07  42.15  42.41  41.59  41.70      41.70   8881300  1.0   1.0
2017-11-08  41.86  42.12  41.53  42.11      42.11  14221600  0.0   0.0
2017-11-09  42.04  42.16  41.62  42.11      42.11   8897200  0.0   0.0
2017-11-10  42.14  43.00  42.06  42.66      42.66  14102100  0.0   0.0
2017-11-13  42.60  43.63  42.55  43.57      43.57  11731100  0.0   0.0
2017-11-14  43.15  43.45  42.74  43.00      43.00   9433400  1.0   0.0
2017-11-15  42.73  43.04  42.10  42.86      42.86  13620000  1.0   1.0
2017-11-16  43.04  43.63  42.80  43.60      43.60  11247400  0.0   1.0
2017-11-17  43.53  44.14  43.49  43.88      43.88  10594200  0.0   0.0
2017-11-20  44.48  45.09  44.26  44.88      44.88  15132200  0.0   0.0
2017-11-21  45.07  45.18  44.66  44.97      44.97  12011200  0.0   0.0
2017-11-22  44.89  44.95  44.21  44.29      44.29   9836900  0.0   0.0
2017-11-24  44.45  44.54  44.24  44.46      44.46   3805900  0.0   0.0
2017-11-27  44.47  44.49  43.88  44.17      44.17   8652600  0.0   0.0
2017-11-28  44.35  45.08  44.14  44.92      44.92  15933300  0.0   0.0
2017-11-29  45.10  45.35  43.79  43.81      43.81  19442900  0.0   0.0
2017-11-30  44.00  44.53  42.70  43.09      43.09  32515100  0.0   0.0
2017-12-01  43.19  43.25  41.87  42.79      42.79  19298800  0.0   0.0
2017-12-04  43.20  43.41  42.92  43.24      43.24   4985574  0.0   0.0
2017-12-05  43.01  43.06  42.52  42.80      42.41  11303900  0.0   0.0
2017-12-06  42.57  42.69  42.14  42.15      41.77  12868500  0.0   0.0
2017-12-07  42.26  42.39  41.54  42.02      42.02  16450000  0.0   0.0
2017-12-08  42.26  42.28  41.84  42.00      42.00   5097672  0.0   0.0

[244 rows x 8 columns]>

In [100]:
np.where( yhat > 0 )

(array([  3,  14,  15,  16,  17,  88,  89, 154, 155, 156, 162, 163, 169,
        174, 175, 176, 177, 178, 179, 203, 209, 210], dtype=int64),)

In [ ]:
reframed

In [17]:
argmax(test_y,axis=1)

array([1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0], dtype=int64)

In [5]:
#fullFrame['Date']=pd.to_datetime(fullFrame['Date'])
df1=fullFrame[['Close','Rise']].iloc[-30:] 

df1=df1.sort_index(ascending=False)
df1['window']=pd.Series.rolling(df1['Close'],5).max()
df1['Rise1'] = (  pd.Series.rolling(df1['Close'],5).max()-df1['Close'] >df1['Close']*0.04)*1
#df['yhat'] =yhat
df1=df1.sort_index(ascending=True)
df1

            Close  Rise  window  Rise1
Date
2017-10-20  45.61     0   46.48      0
2017-10-23  45.15     0   46.48      0
2017-10-24  46.48     0   46.48      0
2017-10-25  45.12     0   45.25      0
2017-10-26  45.25     0   45.25      0
2017-10-27  44.64     0   44.64      0
2017-10-30  43.37     0   43.37      0
2017-10-31  42.98     0   43.13      0
2017-11-01  43.13     0   43.13      0
2017-11-02  42.60     0   42.60      0
2017-11-03  42.34     0   42.34      0
2017-11-06  42.14     0   42.66      0
2017-11-07  41.70     1   43.57      1
2017-11-08  42.11     0   43.57      0
2017-11-09  42.11     0   43.57      0
2017-11-10  42.66     0   43.60      0
2017-11-13  43.57     0   43.88      0
2017-11-14  43.00     1   44.88      1
2017-11-15  42.86     1   44.97      1
2017-11-16  43.60     0   44.97      0
2017-11-17  43.88     0   44.97      0
2017-11-20  44.88     0   44.97      0
2017-11-21  44.97     0   44.97      0
2017-11-22  44.29     0   44.92      0
2017-11-24  44.46     0   44.92      0
2017-11-27  44.17     0   44.92      0
2017-11-28  44.92     0     NaN      0
2017-11-29  43.81     0     NaN      0
2017-11-30  43.09     0     NaN      0
2017-12-01  42.79     0     NaN      0

In [42]:
fullFrame[['Close']].iloc[-30:] 
#dframe[['Close']].iloc[-30:]

            Close
Date
2017-10-11  45.47
2017-10-12  44.89
2017-10-13  45.88
2017-10-16  45.76
2017-10-17  45.02
2017-10-18  45.12
2017-10-19  45.35
2017-10-20  45.61
2017-10-23  45.15
2017-10-24  46.48
2017-10-25  45.12
2017-10-26  45.25
2017-10-27  44.64
2017-10-30  43.37
2017-10-31  42.98
2017-11-01  43.13
2017-11-02  42.60
2017-11-03  42.34
2017-11-06  42.14
2017-11-07  41.70
2017-11-08  42.11
2017-11-09  42.11
2017-11-10  42.66
2017-11-13  43.57
2017-11-14  43.00
2017-11-15  42.86
2017-11-16  43.60
2017-11-17  43.88
2017-11-20  44.88
2017-11-21  44.97

In [12]:
test

array([[ 38.54      ,  38.87      ,  38.54      , ...,  60.7658393 ,
         66.16377762,   1.        ],
       [ 34.88      ,  35.14      ,  34.62      , ...,  53.23391581,
         56.53293806,   1.        ],
       [ 29.01      ,  29.22      ,  28.62      , ...,  72.76774699,
         76.73209434,   0.        ],
       ...,
       [ 29.5       ,  29.94      ,  29.5       , ...,  30.80723241,
         19.73558947,   0.        ],
       [ 31.85      ,  32.        ,  31.68      , ...,  46.98693043,
         53.31674551,   0.        ],
       [ 36.8       ,  37.04      ,  36.62      , ...,  36.79397471,
         22.05245118,   0.        ]])

In [21]:
    item='F'
    start = datetime.datetime(2017, 11, 20)
    end = datetime.datetime.now()
    #print( start,end) 
    file_path='./data/'+item +'.csv'
    df =web.DataReader(item,'yahoo',start,end)  
    print(df.dtypes)
    df.index.values

Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

array(['2017-11-20T00:00:00.000000000', '2017-11-21T00:00:00.000000000',
       '2017-11-22T00:00:00.000000000', '2017-11-24T00:00:00.000000000',
       '2017-11-27T00:00:00.000000000', '2017-11-28T00:00:00.000000000',
       '2017-11-29T00:00:00.000000000', '2017-11-30T00:00:00.000000000'], dtype='datetime64[ns]')