In [77]:
import pandas as pd
from pandas_datareader import data as web
from pandas import read_csv
from pandas import concat
import os.path
import datetime 
import numpy as np

mypath='C:\\Users\\mwnuk\\Dropbox\\Quotes\\'
myModelpath='C:\\Users\\mwnuk\\Dropbox\\Models\\'
settingsPath='C:\\Users\\mwnuk\\Dropbox\\Settings\\'
reportPath='C:\\Users\\mwnuk\\Dropbox\\Reports\\'

In [82]:
#####################################################################

def getData(item):
    start = datetime.datetime(2014, 12, 29)
    end = datetime.datetime.now()
    #print( start,end) 
#    file_path='./data/'+item +'.csv'
    file_path=mypath+item + '.csv'
    if not os.path.exists(file_path):
        print("Empty set")
        df =web.DataReader(item,'yahoo',start,end)  
        df=df.round(2)
        df.to_csv(mypath + item + '.csv')
        df.index.name = 'Date'
    else:
        df = read_csv(file_path)

        df['Date']=pd.to_datetime(df['Date']) #important for sorting
        df.set_index("Date",inplace=True)
        lastDate=df.index[df.shape[0]-1] 
        print("Read ",df.shape[0]," records from file. Last record ",lastDate)

        d1 = lastDate #datetime.datetime.strptime(lastDate, "%Y-%m-%d")  
        #d1 = datetime.datetime.strptime(lastDate)
        #if(parsedLast<parsedEnd):
         #     print(d1,end )
       # try:
        #AND (end.weekday()==7 OR end.weekday()==6)): # dont update on Sat or Sun
        #end.weekday()=7 #sunday 
        #print("Updating")  
        d2 = lastDate + datetime.timedelta(days=1)
        print("Updating from ",d2,"to",end )
        df1 = web.DataReader(item,'yahoo',d2,end)  
        #print(df1.tail)
        #print("d2/end",d2,end)
        updateDate = df1.index[df1.shape[0]-1]
        #print("Updating", lastDate, "with",updateDate)
        if (updateDate !=  lastDate): #yahoo gives unwanted records
            #df1=df1.drop_duplicates(subset=['Open'], keep='first') # yahoo may return 2 records per day
            df1=df1.round(2)
            df=pd.concat([df,df1])
            df.index= pd.to_datetime(df.index, format="%Y-%m-%d") # drop time 
            #print("shape",df.shape[0],df1.shape[0])
            #print(df1)
            df.to_csv(mypath + item + '.csv')
        else:
            print("No need to update")
        #except: print("-----Exception caught, its up to date or not available")
    return df

In [79]:
end = datetime.datetime.now()
d2 = datetime.datetime( 2018, 1, 16)
web.DataReader(item,'yahoo',d2,end)

                 Open       High        Low      Close  Adj Close    Volume
Date
2018-01-16  90.099998  90.790001  88.010002  88.349998  88.349998  36599700
2018-01-17  89.080002  90.279999  88.750000  90.139999  90.139999  25621200
2018-01-18  89.800003  90.669998  89.660004  90.099998  90.099998  24159700
2018-01-19  90.139999  90.610001  89.660004  90.000000  90.000000  36875000
2018-01-22  90.000000  91.620003  89.739998  91.610001  91.610001  23601600
2018-01-23  91.900002  92.300003  91.540001  91.900002  91.900002  23412800
2018-01-24  92.550003  93.430000  91.580002  91.820000  91.820000  33277500
2018-01-25  92.470001  93.239998  91.930000  92.330002  92.330002  26383200
2018-01-26  93.120003  94.059998  92.580002  94.059998  94.059998  29172200
2018-01-29  95.139999  95.449997  93.720001  93.919998  93.919998  31569900
2018-01-30  93.300003  93.660004  92.099998  92.739998  92.739998  38635100
2018-01-31  93.750000  95.400002  93.510002  95.010002  95.010002  48756300
2018-02-01  94.790001  96.070000  93.580002  94.260002  94.260002  47227900
2018-02-02  93.639999  93.970001  91.500000  91.779999  91.779999  47867800
2018-02-05  90.559998  93.239998  88.000000  88.000000  88.000000  51031500
2018-02-06  86.889999  91.480003  85.250000  91.330002  91.330002  67998600
2018-02-07  90.489998  91.769997  89.199997  89.610001  89.610001  40942700
2018-02-08  89.709999  89.875000  84.760002  85.010002  85.010002  47610601

In [93]:
 getData('DJI')

Read  782  records from file. Last record  2018-02-05 00:00:00
Updating from  2018-02-06 00:00:00 to 2018-02-08 21:33:23.329310

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-12-29,18046.580078,18073.039063,18021.570313,18038.230469,18038.230469,53870000
2014-12-30,18035.019531,18035.019531,17959.699219,17983.070313,17983.070313,47490000
2014-12-31,17987.660156,18043.220703,17820.880859,17823.070313,17823.070313,82840000
2015-01-02,17823.070313,17951.779297,17731.300781,17832.990234,17832.990234,76270000
2015-01-05,17821.300781,17821.300781,17475.929688,17501.650391,17501.650391,116160000
2015-01-06,17504.179688,17581.050781,17262.369141,17371.640625,17371.640625,101870000
2015-01-07,17374.779297,17597.080078,17374.779297,17584.519531,17584.519531,91030000
2015-01-08,17591.970703,17916.039063,17591.970703,17907.869141,17907.869141,114890000
2015-01-09,17911.019531,17915.320313,17686.089844,17737.369141,17737.369141,93390000
2015-01-12,17742.050781,17793.880859,17571.580078,17640.839844,17640.839844,92500000
2015-01-13,17645.019531,17923.009766,17498.230469,17613.679688,17613.679688,99360000
2015-01-14,17609.060547,17609.060547,17264.900391,17427.089844,17427.089844,109180000
2015-01-15,17436.300781,17517.410156,17298.039063,17320.710938,17320.710938,94520000
2015-01-16,17320.000000,17528.369141,17243.550781,17511.570313,17511.570313,140480000
2015-01-20,17516.960938,17588.699219,17346.730469,17515.230469,17515.230469,119600000
2015-01-21,17509.960938,17599.580078,17396.039063,17554.279297,17554.279297,95530000
2015-01-22,17557.289063,17840.890625,17482.539063,17813.980469,17813.980469,111980000
2015-01-23,17812.500000,17812.500000,17667.529297,17672.599609,17672.599609,97110000
2015-01-26,17668.109375,17696.359375,17567.599609,17678.699219,17678.699219,87220000
2015-01-27,17638.529297,17638.529297,17288.310547,17387.210938,17387.210938,135940000
2015-01-28,17402.910156,17484.410156,17189.000000,17191.369141,17191.369141,115980000
2015-01-29,17195.289063,17433.130859,17136.300781,17416.849609,17416.849609,111690000
2015-01-30,17416.849609,17419.900391,17156.820313,17164.949219,17164.949219,168560000
2015-02-02,17169.990234,17367.679688,17037.759766,17361.039063,17361.039063,108090000
2015-02-03,17369.970703,17670.759766,17369.970703,17666.400391,17666.400391,112860000
2015-02-04,17664.990234,17782.220703,17603.210938,17673.019531,17673.019531,102560000
2015-02-05,17677.259766,17889.580078,17677.259766,17884.880859,17884.880859,79890000
2015-02-06,17881.539063,17951.089844,17764.400391,17824.289063,17824.289063,93610000
2015-02-09,17821.490234,17821.490234,17685.320313,17729.210938,17729.210938,81590000
2015-02-10,17736.150391,17890.339844,17729.240234,17868.759766,17868.759766,89930000
...,...,...,...,...,...,...
2017-12-26,24715.800000,24778.100000,24708.400000,24746.200000,24746.200000,176199274
2017-12-27,24766.500000,24789.500000,24731.700000,24774.300000,24774.300000,183366764
2017-12-28,24807.200000,24839.200000,24797.100000,24837.500000,24837.500000,172073077
2017-12-29,24849.600000,24871.700000,24735.600000,24719.200000,24719.200000,201338243
2018-01-02,24809.300000,24864.200000,24741.700000,24824.000000,24824.000000,285673487
2018-01-03,24850.400000,24941.900000,24825.600000,24922.700000,24922.700000,421035113
2018-01-04,24964.900000,25106.000000,24963.300000,25073.400000,25073.400000,361273375
2018-01-05,25114.900000,25299.800000,25112.000000,25295.900000,25295.900000,305122391
2018-01-08,25308.400000,25312.000000,25235.400000,25283.000000,25283.000000,278355041
2018-01-09,25312.100000,25439.800000,25308.400000,25385.800000,25385.800000,289067837
2018-01-10,25348.100000,25404.900000,25257.000000,25369.100000,25369.100000,296750186
2018-01-11,25398.600000,25575.400000,25396.200000,25574.700000,25574.700000,301754684
2018-01-12,25638.400000,25810.400000,25633.100000,25803.200000,25803.200000,320961508
2018-01-16,25987.600000,26086.100000,25703.000000,25792.900000,25792.900000,493733029
2018-01-17,25910.800000,26130.400000,25865.000000,26115.700000,26115.700000,456795707
2018-01-18,26149.600000,26153.400000,25947.300000,26017.800000,26017.800000,420043811
2018-01-19,25987.300000,26069.800000,25942.800000,26071.700000,26071.700000,505535687
2018-01-22,26025.300000,26215.200000,25974.700000,26214.600000,26214.600000,356291964
2018-01-23,26214.900000,26246.200000,26143.900000,26210.800000,26210.800000,381476063
2018-01-24,26282.100000,26392.800000,26106.900000,26252.100000,26252.100000,454733009
2018-01-25,26313.100000,26458.200000,26259.700000,26392.800000,26392.800000,359160627
2018-01-26,26466.700000,26610.000000,26425.300000,26616.700000,26616.700000,392901932
2018-01-29,26584.300000,26608.900000,26435.800000,26439.500000,26439.500000,357427120
2018-01-30,26198.400000,26257.000000,26028.400000,26076.900000,26076.900000,393504260
2018-01-31,26268.200000,26338.000000,26051.000000,26149.400000,26149.400000,381145181
2018-02-01,26083.000000,26306.700000,26014.400000,26186.700000,26186.700000,357257053
2018-02-02,26061.800000,26061.800000,25490.700000,25521.000000,25521.000000,462433953
2018-02-05,25337.900000,25520.500000,23923.900000,24345.800000,24345.800000,638326016
2018-02-06,24085.200000,24946.200000,23778.700000,24912.800000,24912.800000,758232539
2018-02-07,24892.900000,25294.000000,24785.400000,24893.300000,24893.300000,448665694

In [89]:
from time import sleep
import random

df1 = read_csv(settingsPath + 'List1.csv', header=None)
df2 = read_csv(settingsPath + 'List2.csv', header=None)
df3 = read_csv(settingsPath + 'List3.csv', header=None)
df4 = read_csv(settingsPath + 'List4.csv', header=None)
df5 = read_csv(settingsPath + 'List5.csv', header=None)
df6 = read_csv(settingsPath + 'List6.csv', header=None)
df7 = read_csv(settingsPath + 'BetaList.csv', header=None)
df=pd.concat([df1,df2,df3,df4,df5,df6,df7])
failedlist1 = [];
failedlist2 = [];
failedlist3 = [];
for index in range (df.shape[0]):
    item=df.iloc[index,0]
    print ('Current item :', item)
    try:
        getData(item)
    except:
        print("Added to Failed List 1",item)
        failedlist1.append(item)
    sleep(random.randint(7,12))
print("Failed first pass:",failedlist1)   

sleep (6)

## SECOND PASS

for index in range (len(failedlist1)):
    item=failedlist1[index]
    print ('Current item :', item)
    try:
        getData(item)
    except: 
        print("Added to Failed List 2",item)
        failedlist2.append(item)
    sleep(random.randint(5,12))

    sleep (6)
## THIRD PASS

for index in range (len(failedlist2)):
    item=failedlist2[index]
    print ('Current item :', item)
    try:
        getData(item)
    except: 
        print("Added to list3",item)
        failedlist3.append(item)
    sleep(random.randint(3,7))

Current item : VOYA
Read  771  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:04:38.445707
Current item : MOS
Read  2064  records from file. Last record  2018-01-18 00:00:00
Updating from  2018-01-19 00:00:00 to 2018-02-08 19:04:44.670539
Current item : SEE
Read  1838  records from file. Last record  2018-01-17 00:00:00
Updating from  2018-01-18 00:00:00 to 2018-02-08 19:04:52.256759
Added to list SEE
Current item : NRG
Read  1978  records from file. Last record  2018-01-18 00:00:00
Updating from  2018-01-19 00:00:00 to 2018-02-08 19:04:56.665176
Added to list NRG
Current item : GT
Read  772  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:05:04.111907
Current item : EXEL
Read  772  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:05:11.654954
Current item : FLR
Read  772  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:05:19.218744
Current item : TOL
Read  772  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:05:26.567680
Current item : CCK
Read  772  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:05:32.908043
Current item : HP
Read  772  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:05:39.296784
Current item : FSLR
Read  772  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:05:44.986153
Current item : HDS
Read  772  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:05:49.198595
Current item : CAA
Read  772  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:05:54.476402
Current item : AYI
Read  772  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:06:02.783646
Current item : NFX
Read  771  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:06:10.221519
Current item : GNTX
Read  769  records from file. Last record  2018-01-17 00:00:00
Updating from  2018-01-18 00:00:00 to 2018-02-08 19:06:16.437491
Current item : WAL
Read  771  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:06:20.943165
Added to list WAL
Current item : GRUB
Read  771  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:06:27.241773
Current item : OLN
Read  769  records from file. Last record  2018-01-17 00:00:00
Updating from  2018-01-18 00:00:00 to 2018-02-08 19:06:33.782607
Failed first pass: ['SEE', 'NRG', 'WAL']
Current item : SEE
Read  1838  records from file. Last record  2018-01-17 00:00:00
Updating from  2018-01-18 00:00:00 to 2018-02-08 19:06:45.269172
Current item : NRG
Read  1978  records from file. Last record  2018-01-18 00:00:00
Updating from  2018-01-19 00:00:00 to 2018-02-08 19:06:50.773002
Current item : WAL
Read  771  records from file. Last record  2018-01-19 00:00:00
Updating from  2018-01-20 00:00:00 to 2018-02-08 19:06:56.070322

In [ ]:
 #test
start = datetime.datetime(2018, 1, 4)
end = datetime.datetime.now()
df1=web.DataReader('DJI','yahoo',start,end)  
df1.index[df1.shape[0]-1]

In [ ]:
import dropbox

import pathlib
import dropbox
import re
api_access_token = ''' see aws.txt '''

# the source file
folder = pathlib.Path(".")    # located in this folder
filename = "test.ipynb"         # file name
filepath = folder / filename  # path object, defining the file

# target location in Dropbox
target = "/Temp/"              # the target folder
targetfile = target + filename   # the target path and file name

# Create a dropbox object using an API v2 key
d = dropbox.Dropbox(api_access_token)

# open the file and upload it
with filepath.open("rb") as f:
   # upload gives you metadata about the file
   # we want to overwite any previous version of the file
   meta = d.files_upload(f.read(), targetfile, mode=dropbox.files.WriteMode("overwrite"))

# create a shared link
link = d.sharing_create_shared_link(targetfile)

# url which can be shared
url = link.url

# link which directly downloads by replacing ?dl=0 with ?dl=1
dl_url = re.sub(r"\?dl\=0", "?dl=1", url)
print (dl_url)